.col-md-3
  %h1 Top users
  = form_tag fetch_leaderboards_users_path, method: :get, remote: true do
    .form-inputs
      = select_tag :period, options_for_select(@periods, 'monthly'), class: 'form-control', onchange: '$(this.form).submit()'
#leaderboard-list
