.row.profile
  .col-md-3
    .profile-sidebar
      .profile-userpic
        %img{ src: 'https://scontent.xx.fbcdn.net/v/t1.0-9/14479518_10211208281586721_352326340211134985_n.jpg?oh=c08aeb650cc0de77085b4d36109492c5&oe=59198A14', class: 'img-responsive' }
      .profile-usertitle
        .profile-usertitle-name
          Anna Janicka
        .profile-usertitle-job
          Key Account Manager
      .profile-userbuttons
        %button.btn.btn-success.btn-sm{ type: 'button' }
          %i.fa.fa-check
          Follow
        %button.btn.btn-danger.btn-sm{ type: 'button' }
          %i.fa.fa-envelope
          Message
      .profile-usermenu
        %ul.nav
          %li.active
            %a{ href: '#' }
              %i.fa.fa-line-chart
              Activity
          %li
            %a{ href: '#' }
              %i.fa.fa-user
              Profile
          %li
            %a{ href: '#' }
              %i.fa.fa-trophy
              Achievements
          %li
            %a{ href: '#' }
              %i.fa.fa-group
              Teams
  .col-md-9
    .profile-content
      Some user related content goes here...
