.row.profile
  .col-md-3
    .profile-sidebar
      .profile-userpic
        %img{ src: 'https://scontent.xx.fbcdn.net/v/t1.0-9/14479518_10211208281586721_352326340211134985_n.jpg?oh=c08aeb650cc0de77085b4d36109492c5&oe=59198A14', class: 'img-responsive' }
      .profile-usertitle
        .profile-usertitle-name
          Anna Janicka
        .profile-usertitle-job
          Key Account Manager
      .profile-userbuttons
        %button.btn.btn-success.btn-sm{ type: 'button' } Follow
        %button.btn.btn-danger.btn-sm{ type: 'button' } Message
