.container {
  margin-left: 10px;
  margin-right: 10px;
}

.small {
  font-size: 0.85em;
  color: grey;
}

abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

.nocursor {
  cursor: default !important;
}
