.pusher
  .ui.inverted.vertical.masthead.center.aligned.segment
    .ui.container
      .ui.large.secondary.inverted.pointing.menu
        %a.toc.item
          %i.sidebar.icon
        %a.active.item Home
        %a.item Link1
        %a.item Link2
        %a.item Link3
        .right.item
          %a.ui.inverted.button Log in
          %a.ui.inverted.button Sign Up
    .ui.text.container
      %h1.ui.inverted.header
        Gamification
      %h2 Slogan
      .ui.huge.primary.button
        Get Started
        %i.right.arrow.icon
